In [13]:
# Cleaning the data

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Import data set
thisDataFrame = pd.read_csv("data.csv") 

#Range of columns we wanna look at (questions 1 to 28)
columns_range = thisDataFrame.loc[:, 'Q1':'Q28']

#sorter alle svar fra studenter der har svaret det samme til alle spørgsmål ud af datasættet
thisDataFrame = thisDataFrame[columns_range.apply(lambda x: min(x) != max(x), 1)]

# show number of lines removed during cleaning
df = pd.read_csv("data.csv")
lbc = df['instr'].count()
lac = thisDataFrame['instr'].count()
print('number of lines before cleaning: ', lbc)
print('number of lines after cleaning: ', lac)
print('number of lines removed: ', lbc - lac)

#Vis Filtered dataset
thisDataFrame

number of lines before cleaning:  5820
number of lines after cleaning:  2835
number of lines removed:  2985

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
8,1,2,1,1,3,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
14,1,2,1,2,3,1,1,1,1,1,...,2,3,3,3,2,2,1,1,1,1
15,1,2,1,3,4,5,5,4,4,5,...,5,4,4,5,5,4,4,4,5,4
22,1,2,1,3,3,3,3,3,3,3,...,3,2,1,1,1,3,2,2,2,2
23,1,2,1,2,4,5,3,3,3,2,...,2,2,4,4,5,5,4,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803,3,13,1,3,5,2,2,2,1,1,...,1,1,1,1,1,1,1,1,1,1
5808,3,13,1,3,3,1,1,1,5,1,...,2,3,2,2,3,2,2,3,2,2
5813,3,13,2,3,4,2,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
5814,3,13,1,2,4,1,1,1,1,1,...,2,1,1,2,1,1,1,1,1,1
5816,3,13,1,3,4,4,4,4,4,4,...,5,5,5,5,4,5,5,5,5,5

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Bar chart displaying ...

df = pd.read_csv("cleanData.csv")    
# Data Striping
columns_range =df.loc[:, 'Q1':'Q28']

#count how many students answered for each teacher
to_ratio= df.groupby("instr")["difficulty"].count()
#Count how many students answered for each answer for each teacher
count_answers =df.groupby("instr")["difficulty"].apply(pd.value_counts)

# Set width of bar
bar_width = 0.25
 
# Set height of bar (we )
bars1 = result[1]/to_ratio[1]*100
bars2 = result[2]/to_ratio[2]*100
bars3 = result[3]/to_ratio[3]*100
 
# Set position of bar on X axis
r1 = np.arange(len(bars1))
r2 = [x + bar_width for x in r1]
r3 = [x + bar_width for x in r2]
 
# Make the plot
plt.bar(r1, bars1, color='#7f6d5f', width=bar_width, edgecolor='white', label='Instructor 1')
plt.bar(r2, bars2, color='#557f2d', width=bar_width, edgecolor='white', label='Instructor 2')
plt.bar(r3, bars3, color='#2d7f5e', width=bar_width, edgecolor='white', label='Instructor 3')

# Add xticks on the middle of the group bars & set labels
plt.xticks([r + bar_width for r in range(len(bars1))], ['1', '2', '3', '4', '5'])
plt.xlabel('The Answer', fontweight='bold')
plt.ylabel('Quantity of this Answer', fontweight='bold')
plt.title("To what degree students found it difficult for each teacher mesured in %")

# Create legend & Show graphic
plt.legend()
plt.show()

NameError: name 'result' is not defined

In [5]:
# 2. Is perceived difficulty higher for certain courses?

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("cleanData.csv")    
#take mean values and group by class and sort the values
df =df.groupby("class")["difficulty"].mean().reset_index(name='mean').sort_values(['mean'], ascending=False)
#print without index
print(df.to_string(index=False))

 class      mean
     7  3.823529
     2  3.442857
    11  3.018595
     8  3.000000
    12  2.902439
     5  2.900915
     3  2.803097
    10  2.678571
     9  2.653240
     4  2.647059
     6  2.602151
     1  2.488449
    13  2.461356

In [6]:
# 3. Is perceived difficulty higher or lower for students who have repeated the course more than once?

import pandas as pd
import matplotlib.pyplot as plt
    
df = pd.read_csv("cleanData.csv")

filter1=df["nb.repeat"] > 1  
filter2=df["nb.repeat"] == 1  

print(df[filter1]["difficulty"].mean(),df[filter2]["difficulty"].mean())

3.1185510428100987 2.72132817274394

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("cleanData.csv")

#Limit df to instructor col and Q13 to Q28
q_range=['instr']
for i in range(13,28):
    q_range.append('Q'+str(i))

#group by instructor and take the mean on each columns
df =df[q_range].groupby('instr').mean()
#Take the means of each row
print(df.mean(axis=1))

df2 = pd.read_csv("data.csv")

#Limit df to instructor col and Q13 to Q28
q_range=['instr','difficulty']

#group by instructor and take the mean on each columns
df2 =df2[q_range].groupby('instr').mean()
#Take the means of each row
df2.mean(axis=1)

instr
1    3.408688
2    3.477747
3    3.134407
dtype: float64

instr
1    3.092903
2    2.679363
3    2.758678
dtype: float64

In [2]:
# 5. Is perceived difficulty different for those with higher attendance than for those with lower attendance?

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("data.csv")

high_attendance=df["attendance"] >  2
low_attendance=df["attendance"] <  2
mid_attendance=df["attendance"] ==  2

print(df[high_attendance]["difficulty"].mean())
print(df[mid_attendance]["difficulty"].mean())
print(df[low_attendance]["difficulty"].mean())

3.3255481410867493
3.2815656565656566
2.2607508532423206

In [3]:
# 6. Is the score for Q9 (“I greatly enjoyed the class and was eager to actively participate during the lectures.”)
# an indicator for whether or not students find the course difficult?

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("data.csv")

high_score=df["Q9"] >  3
low_score=df["Q9"] <  3
mid_score=df["Q9"] ==  3


print(df[high_score]["difficulty"].mean())
print(df[mid_score]["difficulty"].mean())
print(df[low_score]["difficulty"].mean())

2.8157894736842106
2.8885762521102984
2.614113159567705